<h1 mat-dialog-title class="titulo">
    Nueva Tarea
</h1>

<div mat-dialog-content class="content">
<mat-form-field appearance="outline" class="campo-titulo">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="tarea.title" placeholder="Título de la tarea" class="titulo-input" />
</mat-form-field>

<mat-form-field appearance="outline" class="campo-textarea">
    <mat-label>Detalles</mat-label>
    <textarea matInput [(ngModel)]="tarea.content" rows="8"></textarea>
</mat-form-field>
</div>

<div mat-dialog-actions align="end">
<button mat-button (click)="cancelar()">Cancelar</button>
<button mat-raised-button color="primary" (click)="guardar()">Agregar</button>
</div>
